@mojangles-font {
	font-family: "mojangles";
	src: url("../../assets/fonts/mojangles.ttf");
}

.nomargin {
	margin: 0px 0px;
}

.noscroll {
	overflow: hidden;
}

.unselectable {
	-webkit-user-select: none;
}

.panorama {
	padding-bottom: 75%;
	background-image: url("../../assets/img/panorama.png");
	background-repeat: repeat-x;
	background-size: cover;
	animation-name: panorama-move;
    animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes panorama-move {
    0% {background-position: 0 0;}
    100% {background-position: 100% 0;}
}

.top-header {
    background-color: rgb(198, 198, 198);
	padding-top: 8px;
	height: 32px;
	width: 100%;
}

.horizontallist {
	display: inline;
}

.header-title-left {
    text-align: left;
	text-indent: 48px;
}

.mojangles-lightgray {
	font-family: mojangles;
	font-size: 20px;
	color: rgb(170, 170, 170);
}

.mojangles-gray {
	font-family: mojangles;
	font-size: 20px;
	color: rgb(76, 76, 76);
}

.mojangles-white {
	font-family: mojangles;
	font-size: 20px;
	color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: rgb(67, 67, 67);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(198, 198, 198);
}

.backbutton {
	width: 34px;
	height: 34px;
	background-image: url("../../assets/img/arrow_l_default.png");
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: center;
	background-size: 65%;
	outline: 0px;
	background-color: rgb(198, 198, 198);
	image-rendering: pixelated;
	border: transparent;
	position: absolute;
	left: 5px;
	top: 3px;
}

.backbutton:hover {
	background-image: url("../../assets/img/arrow_l_hover.png");
	background-color: rgb(174, 174, 174);
}

.backbutton:active:hover {
	background-image: url("../../assets/img/arrow_l_pressed.png");
	background-color: rgb(120, 120, 119);
}

.progress-bar {
	width: calc(100% - 180px);
	height: 10px;
	background-image: url("../../assets/img/experiencebarfull.png");
	background-repeat: repeat-x;
	background-position: center;
	background-size: contain;
	image-rendering: pixelated;
	position: absolute;
	top: 90px;
	left: 176px;
}

.border-gray {
	float: left;
	position: absolute;
	left: -6px;
	padding: 10px 10px;
	width: calc(100% - 20px);
    height: calc(100% - 66px);
	border: 6px solid rgb(86, 86, 86);
	background-color: rgba(86, 86, 86, 0.9);
	outline: 2px solid rgb(3, 3, 3);
	outline-offset: -6px;
	overflow-x: hidden;
	overflow-y: auto;
}

.trophy-icon {
	position: relative;
	image-rendering: pixelated;
	padding: 10px 25px;
	width: 65px;
	height: auto;
}

.achievement-icon {
	position: relative;
	left: 2px;
	top: 2px;
	image-rendering: pixelated;
	width: 165px;
	height: auto;
}

.small-trophy-icon {
	position: relative;
	top: 2px;
	image-rendering: pixelated;
	padding: 0px 4px;
	width: 24px;
	height: auto;
}

.clock-icon {
	position: relative;
	left: 4px;
	top: 2px;
	image-rendering: pixelated;
	padding: 3px 0px;
	width: 24px;
	height: auto;
}

.gamerscore-icon {
	position: relative;
	left: 4px;
	top: 2px;
	image-rendering: pixelated;
	padding: 4px 0px;
	width: 24px;
	height: auto;
}

.achievements-text {
	position: relative;
	top: -7px;
	left: -4px;
}

.gamerscore-text {
	position: relative;
	top: -7px;
	left: 4px;
}

.reward-text {
	position: relative;
	top: -7px;
	left: 4px;
}

.timeplayed-text {
	position: relative;
	top: -7px;
	left: 4px;
}

.percentage {
	position: relative;
	left: -32px;
	top: -10px;
	image-rendering: pixelated;
	width: 65px;
	height: auto;
}

.gamerscore {
	background: rgb(104, 104, 104);
	width: calc(100% - 144px);
	position: absolute;
	left: 140px;
	top: 4px;
}

.achievements {
	background: rgb(104, 104, 104);
	width: calc(100% - 144px);
	position: absolute;
	left: 140px;
	top: 42px;
}

.timeplayed {
	background: rgb(104, 104, 104);
	width: calc(100% - 144px);
	position: absolute;
	left: 140px;
	top: 79px;
}

.text-right-1 {
	float: right;
	position: relative;
	top: 5px;
	right: 4px;
}

.text-right-2 {
	float: right;
	position: relative;
	top: 7px;
	right: 4px;
}

.achievement-right {
	float: right;
	position: relative;
	right: 4px;
}

.achievement-left {
	float: left;
	position: absolute;
	top: 10px;
	left: 172px;
}

.fixspacer-1 {
	position: relative;
	top: -55px;
	left: 2px;
}

.spacer-1 {
	margin-top: 4px;
}

.box-gray {
	background: rgb(61, 61, 61);
	position: relative;
	left: -5px;
	top: -5px;
	width: calc(100% - 4px);
	display: block;
	color: rgb(255, 255, 255);
	border: solid 2px rgb(0, 0, 0);
	padding: 5px 5px;
}

.box-gray:hover {
	border: solid 2px rgb(178, 178, 178);
}